<div style="text-align: center;">
<img src="https://res.cloudinary.com/team-stenny/image/upload/v1627759198/dark-light_asrplz.jpg" 
alt="" style="max-width: 300px;">
<h4>Bienvenue <span style="color: #FB77FC; font-weight: bold;">{{ name }}</span>,</h4>

<p>
    Vous venez de vous inscrire sur  BETWEENUS.LIVE. <br>
    Veuillez confirmer le lien ci-dessous en cliquant sur "Confirmer".
</p>
<div style="width: 100%; text-align: center">
    <button style="border: none; background: #FB77FC; 
    color: white; height: 30px; border-radius: 3px;
    padding-left: 10px; padding-right: 10px;">
        <a style="color: white; text-decoration: none;" href="{{ url }}">Confirmer</a>
    </button>
</div>
<br>
<small style="opacity: 0.8; font-style: italic;">VOUS POUVEZ IGNORER CE MESSAGE SI CE N'EST PAS VOUS.</small>
</div>


