<div style="text-align: center;">
<img src="https://res.cloudinary.com/team-stenny/image/upload/v1627759198/dark-light_asrplz.jpg" 
alt="" style="max-width: 300px;">
<h4>Bonjour <span style="color: #FB77FC; font-weight: bold;">{{ name }}</span>,</h4>

<p>
    Vous avez désactiver votre compte sur BETWEENUS.LIVE. <br>
    Veuillez cliquer sur le bouton ci-dessous pour réactiver votre compte. <br>
    <span style="font-style: italic;">Ce message est à conserver.</span>
</p>
<div style="width: 100%; text-align: center">
    <button style="border: none; background: #FB77FC; 
    color: white; height: 30px; border-radius: 3px;
    padding-left: 10px; padding-right: 10px;">
        <a style="color: white; text-decoration: none;" href="{{ url }}">Réactiver mon compte</a>
    </button>
</div>
<br>
<small style="opacity: 0.8; font-style: italic;">Nous vous remercions de votre fidelité.</small>
</div>


