<div style="text-align: center;">
<img src="https://res.cloudinary.com/team-stenny/image/upload/v1627759198/dark-light_asrplz.jpg" 
alt="" style="max-width: 300px;">
<h4>Bienvenue <span style="color: #FB77FC; font-weight: bold;">{{ name }}</span>,</h4>

<p>
    Vous venez de vous inscrire sur  BETWEENUS.LIVE. en tant que 
    <span style="font-weight: bold;">Modèle</span> <br>
    Un email de confirmation vous sera envoyé un fois votre dossier <br>
    validé par l'administrateur dans un delai de 2 jours au maximum.
</p>
<br>
<small style="opacity: 0.8; font-style: italic;">A BIENTOT SUR BetweenUs.</small>
</div>


